@model LaundryApplication.Models.InvoiceGenerate

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBEnd.cshtml";
}

<h2>Details</h2>

<div>
    <h4>InvoiceGenerate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cat_Des)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cat_Des)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item_Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item_Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice_Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice_Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Barcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Barcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pay_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pay_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Cat_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Cat_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Cus_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Cus_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod.Pay_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod.Pay_Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Inv_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
